<fieldset>
  <legend>About</legend>
  <ul class="tree-view">
    <li>
      Company
      <ul>
        <li>Matera</li>
      </ul>
    </li>
    <li>
      Location/Work type
      <ul>
        <li>Maringá - PR, Brazil</li>
        <li>On-site (jan/2020 - mar/2020)</li>
        <li>Remote (mar/2020 - feb/2022)</li>
      </ul>
    </li>
    <li>
      Duration
      <ul>
        <li>jan/2020 - mar/2022</li>
      </ul>
    </li>
    <li>
      Role
      <ul>
        <li>Software developer (junior/mid-level)</li>
      </ul>
    </li>
    <li>
      <details>
        <summary>Competences</summary>
        <ul>
          <li>Java</li>
          <li>Spring Framework</li>
          <li>Git</li>
          <li>Apache Maven</li>
          <li>JavaScript</li>
          <li>API REST</li>
          <li>SQL</li>
          <li>PL/SQL</li>
          <li>AngularJS</li>
          <li>Docker</li>
          <li>Amazon SQS</li>
          <li>Apache Tomcat</li>
          <li>JSP (JavaServer Pages)</li>
          <li>CSS</li>
          <li>HTML</li>
          <li>Hibernate</li>
          <li>Angular (Framework)</li>
          <li>Jenkins</li>
          <li>JUnit</li>
          <li>Bash</li>
        </ul>
      </details>
    </li>
  </ul>
</fieldset>
<p><label>Mainly system development, but brief performances on technical analysis and testing.</label></p>
<p><label>First performance was with an Internet Banking system, primarily fixing bugs in the back-end with Spring and PL/SQL.</label></p>
<p><label>Second role was in the development, technical analysis and assistance in testing the Brazilian Payment System (SPB), managing the flow of message transmissions between FIs and the BC (Brazil's central bank), the cashier pilot screen, which verifies current transactions in the system, and between other modules of the same.</label></p>
