<div class="window">
  <app-window-title-bar [title]="this.windowTitleBar" iconPath="professional-experience.png"></app-window-title-bar>

  <div class="window-body">
    <section class="tabs">
      <menu role="tablist" aria-label="Sample tabs">
        <ng-container *ngFor="let tab of professionalExperienceWindowTabs">
          <button
            role="tab"
            [attr.aria-controls]="tab.id"
            [attr.aria-selected]="tab.selected"
            (click)="this.changeSelectedTab(tab)"
          >
            {{tab.title}}
          </button>
        </ng-container>
      </menu>

      <ng-container *ngFor="let professionalTab of professionalExperienceWindowTabs">
        <article
          role="tabpanel"
          [id]="professionalTab.id"
          [hidden]="!professionalTab.selected"
        >
          <fieldset>
            <legend>ℹ️ About</legend>
            <ul class="tree-view">
              <li>
                🏢&nbsp;<b>Company</b>
                <ul>
                  <li>{{professionalTab.companyName}}</li>
                </ul>
              </li>
              <li>
                🌎&nbsp;<b>Location/Work type(s)</b>
                <ul>
                  <li>{{professionalTab.location}}</li>
                  <ng-container *ngFor="let workType of professionalTab.workTypes">
                    <li>{{workType}}</li>
                  </ng-container>
                </ul>
              </li>
              <li>
                🕓&nbsp;<b>Duration</b>
                <ul>
                  <li>{{professionalTab.duration}}</li>
                </ul>
              </li>
              <li>
                🧑‍💻&nbsp;<b>Roles</b>
                <ul>
                  <ng-container *ngFor="let role of professionalTab.roles">
                    <li>{{role}}</li>
                  </ng-container>
                </ul>
              </li>
              <li>
                <details>
                  <summary>🛠&nbsp;<b>Skills</b></summary>
                  <ul>
                    <ng-container *ngFor="let skill of professionalTab.skills">
                      <li>{{skill}}</li>
                    </ng-container>
                  </ul>
                </details>
              </li>
            </ul>
          </fieldset>
          <label>💬 {{professionalTab.description}} 💬</label>
        </article>
      </ng-container>
    </section>
  </div>
</div>
