<fieldset>
  <legend>About</legend>
  <ul class="tree-view">
    <li>
      Institution
      <ul>
        <li>Univel Centro Universitário</li>
      </ul>
    </li>
    <li>
      Degree
      <ul>
        <li>Technical degree</li>
      </ul>
    </li>
    <li>
      Location
      <ul>
        <li>Cascavel - PR, Brazil</li>
        <li>On-site</li>
      </ul>
    </li>
    <li>
      Duration
      <ul>
        <li>jan/2016 - dec/2018</li>
      </ul>
    </li>
    <li>
      <details>
        <summary>Competences</summary>
        <ul>
          <li>Java</li>
          <li>PostgreSQL</li>
          <li>Git</li>
          <li>Apache Maven</li>
          <li>JavaScript</li>
          <li>C++</li>
          <li>CSS</li>
          <li>Hibernate</li>
          <li>Angular (Framework)</li>
        </ul>
      </details>
    </li>
  </ul>
</fieldset>
