<div class="window" style="margin: 32px; width: 300px">
  <div class="title-bar">
    <div class="title-bar-text">Professional experience</div>

    <div class="title-bar-controls">
      <button aria-label="Minimize"></button>
      <button aria-label="Maximize"></button>
      <button aria-label="Close"></button>
    </div>
  </div>

  <div class="window-body">
    <section class="tabs">
      <menu role="tablist" aria-label="Sample tabs">
        <button role="tab" aria-selected="true" aria-controls="tab-totvs" (click)="this.speak('totvs')">TOTVS</button>
        <button role="tab" aria-controls="tab-syngular">Syngular Systems</button>
        <button role="tab" aria-controls="tab-matera">Matera</button>
        <button role="tab" aria-controls="tab-ciandt">CI&T</button>
      </menu>
    </section>
    <article role="tabpanel"></article>
  </div>
</div>
