<fieldset>
  <legend>About</legend>
  <ul class="tree-view">
    <li>
      Company
      <ul>
        <li>Syngular Systems</li>
      </ul>
    </li>
    <li>
      Location/Work type
      <ul>
        <li>Cascavel - PR, Brazil</li>
        <li>On-site (2017-2018)</li>
        <li>Remote (2019)</li>
      </ul>
    </li>
    <li>
      Duration
      <ul>
        <li>aug/2017 - dec/2018</li>
        <li>jun/2019 - jul/2019</li>
      </ul>
    </li>
    <li>
      Role
      <ul>
        <li>(2017-2018) Intern</li>
        <li>(2019) Freelancer</li>
      </ul>
    <li>
      <details>
        <summary>Competences</summary>
        <ul>
          <li>Java</li>
          <li>PostgreSQL</li>
          <li>Git</li>
          <li>Apache Maven</li>
          <li>Apache Tomcat</li>
          <li>Primefaces</li>
          <li>Jasper Reports</li>
          <li>Hibernate</li>
          <li>Jenkins</li>
          <li>JSF</li>
        </ul>
      </details>
    </li>
  </ul>
</fieldset>
<p>Internship followed by a brief time as a freelancer, focused on development, but with some performances on testing and giving customer support.</p>
<p>Primary performance was in an ERP system, with registrations, issuance of invoices and NFC-e, creation of a module for issuing banking slips along with shipping and return files, sales/inventory management, cash flow, among others.</p>
<p>I also had a brief role refactoring an agricultural system for managing crops and seeds.</p>
