<label>
  🧑‍💻 I'm a software developer, finished my Analysis and Systems Development degree in 2018, and my
  Java specialization post-degree in 2022.
</label>
<label>
  💼 I've been working with software development since mid-2016, when I first started as an intern.
</label>
<label>
  💻 My work has been focused on developing (back-end systems) most of the time, and partially aiding in
  technical/requirment analysis and testing back-end systems development, mainly using Java and
  it's technologies.
</label>

