<div class="profile">
  <img class="profile_img" src="assets/images/isahann.png" alt="isahann"/>

  <div class="profile_text">
    <li>
      <label><b>👤 Isahann Hanacleto</b>, also known as...</label>
      <ul>
        <li><label>Iso</label></li>
        <li><label><a href="https://en.wikipedia.org/wiki/Isaac">Isaque</a>/<a
          href="https://en.wikipedia.org/wiki/Isaac_Newton">Isaac</a></label></li>
      </ul>
    </li>

    <li>
      <label>⭐️ Born in...</label>
    </li>

    <ul>
      <li><label>🌎 Cascavel - Paraná, Brazil</label></li>
      <li><label>📅 July 25, 1998</label></li>
    </ul>

    <li><label>📍 Currently living in Maringá - PR, Brazil 🇧🇷</label></li>

    <li>
      <label>🕔 In my spare time, I...</label>
      <ul>
        <li><label>💪 Work out</label></li>
        <li><label>🎮 Play some games</label></li>
        <li><label>🧑‍💻 Create some weird side projects, such as&nbsp;<b><a href="https://xpquiz.github.io/home">this</a></b></label></li>
      </ul>
    </li>
  </div>
</div>
