<fieldset>
  <legend>About</legend>
  <ul class="tree-view">
    <li>
      Company
      <ul>
        <li>CI&T</li>
      </ul>
    </li>
    <li>
      Location/Work type
      <ul>
        <li>Maringá - PR, Brazil</li>
        <li>Remote (since mar/2022)</li>
      </ul>
    </li>
    <li>
      Duration
      <ul>
        <li>mar/2022 - now</li>
      </ul>
    </li>
    <li>
      Role
      <ul>
        <li>Software developer (mid-level)</li>
      </ul>
    </li>
    <li>
      <details>
        <summary>Competences</summary>
        <ul>
          <li>Java</li>
          <li>Spring Framework</li>
          <li>TypeScript</li>
          <li>Git</li>
          <li>Apache Maven</li>
          <li>JavaScript</li>
          <li>API REST</li>
          <li>Node.js</li>
          <li>Azure DevOps</li>
          <li>MongoDB</li>
          <li>Ionic Framework</li>
          <li>NoSQL</li>
          <li>Mockito</li>
          <li>Docker</li>
          <li>OpenAPI specification</li>
          <li>CSS</li>
          <li>JIRA</li>
          <li>Hibernate</li>
          <li>Angular (Framework)</li>
          <li>JUnit</li>
          <li>Swagger API</li>
          <li>Azure Cosmos DB</li>
          <li>Bash</li>
          <li>Kafka</li>
        </ul>
      </details>
    </li>
  </ul>
</fieldset>
<p>Experience focused on development, with brief aid on testing.</p>
<p>First role was in a project where I helped to develop a microservice using Spring, exposing data via REST API, searching from a database in MongoDB. The project is part of the initial APIs for the Open Insurance project in Brazil.</p>
<p>Second role was working on a bank's insurance management application, where I helped develop the front-end in Angular/Ionic, using TypeScript, Ngrx, testing on Android and iOS.</p>
<p>Third role was working again in a microsevice, exposing data from a MongoDB database via REST API, but now using Kafka brokers to send and consume messages.</p>
