<p><label>Feel free to email me! (Disabled for now)</label></p>

<fieldset class="email">
  <div class="field-row-stacked email_input">
    <label for="subject">Subject:</label>
    <input disabled id="subject" type="text" [value]="this.emailSubject">
  </div>
  <div class="field-row-stacked email_input">
    <label for="email">Text:</label>
    <textarea disabled id="email" rows="8" [value]="this.emailText"></textarea>
  </div>
  <div class="email_buttons">
    <button disabled (click)="this.clearFields()">Clear fields</button>
    <button disabled (click)="this.sendEmail()">Send email</button>
  </div>
</fieldset>
