<fieldset>
  <legend>About</legend>
  <ul class="tree-view">
    <li>
      Company
      <ul>
        <li>Wealth Systems (acquired by TOTVS in 2020)</li>
      </ul>
    </li>
    <li>
      Location/Work type
      <ul>
        <li>Cascavel - PR, Brazil</li>
        <li>On-site</li>
      </ul>
    </li>
    <li>
      Duration
      <ul>
        <li>jul/2016 - dec/2016</li>
      </ul>
    </li>
    <li>
      Role
      <ul>
        <li>Intern</li>
      </ul>
    <li>
      <details>
        <summary>Competences</summary>
        <ul>
          <li>Java</li>
          <li>PostgreSQL</li>
          <li>Git</li>
          <li>Apache Maven</li>
          <li>JavaScript</li>
          <li>Redmine</li>
          <li>JSP (JavaServer Pages)</li>
          <li>CSS</li>
          <li>HTML</li>
          <li>Hibernate</li>
        </ul>
      </details>
    </li>
  </ul>
</fieldset>
<p>Considering this was a internship (and also my first professional experience), it was more focused on learning how to work on a tech company than doing any actual work.</p>
<p>I've explored a bit of some parts, like development, testing, and doing some analysis, on the company's agricultural systems.</p>
