<div class="window" cdkDrag>
  <div class="title-bar" cdkDragHandle>
    <img
      ngSrc="assets/images/icons/contact.png"
      alt="" height="16" width="16" class="window-title-icon"/>

    <div class="title-bar-text">{{windowTitleBar}}</div>

    <div class="title-bar-controls">
      <ng-container *ngFor="let button of windowButtons">
        <button [attr.aria-label]="button"></button>
      </ng-container>
    </div>
  </div>

  <div class="window-body">
      <div class="field-row">
        <input id="radio-pt" type="radio" name="language">
        <label for="radio-pt">Portuguese</label>
      </div>
      <div class="field-row">
        <input id="radio-en" type="radio" name="language">
        <label for="radio-en">English</label>
      </div>
  </div>
</div>
