<div class="window">
  <app-window-title-bar [title]="this.windowTitleBar" iconPath="education.png"></app-window-title-bar>
  <div class="window-body">
    <section class="tabs">
      <menu role="tablist" aria-label="Sample tabs">
        <ng-container *ngFor="let tab of educationWindowTabs">
          <button
            role="tab"
            [attr.aria-controls]="tab.id"
            [attr.aria-selected]="tab.selected"
            (click)="this.changeSelectedTab(tab)"
          >
            {{tab.title}}
          </button>
        </ng-container>
      </menu>
      <ng-container *ngFor="let educationTab of educationWindowTabs">
        <article
          role="tabpanel"
          [id]="educationTab.id"
          [hidden]="!educationTab.selected"
        >
          <fieldset>
            <legend>ℹ️ About</legend>
            <ul class="tree-view">
              <li>
                🏢&nbsp;<b>Institution</b>
                <ul>
                  <li>{{educationTab.institution}}</li>
                </ul>
              </li>
              <li>
                🌎&nbsp;<b>Location</b>
                <ul>
                  <li>{{educationTab.location}}</li>
                </ul>
              </li>
              <li>
                🕓&nbsp;<b>Duration</b>
                <ul>
                  <li>{{educationTab.duration}}</li>
                </ul>
              </li>
              <li>
                📝&nbsp;<b>Degree</b>
                <ul>
                  <li>{{educationTab.degree}}</li>
                </ul>
              </li>
              <li>
                <details>
                  <summary>🛠&nbsp;<b>Skills</b></summary>
                  <ul>
                    <ng-container *ngFor="let skill of educationTab.skills">
                      <li>{{skill}}</li>
                    </ng-container>
                  </ul>
                </details>
              </li>
            </ul>
          </fieldset>
        </article>
      </ng-container>
    </section>
  </div>
</div>
