<fieldset>
  <legend>About</legend>
  <ul class="tree-view">
    <li>
      Institution
      <ul>
        <li>Universidade Tecnológica Federal do Paraná (UTFPR)</li>
      </ul>
    </li>
    <li>
      Degree
      <ul>
        <li>Specialization, post-graduate degree</li>
      </ul>
    </li>
    <li>
      Location
      <ul>
        <li>Cornélio Procópio - PR, Brazil</li>
        <li>Remote</li>
      </ul>
    </li>
    <li>
      Duration
      <ul>
        <li>aug/2021 - dec/2022</li>
      </ul>
    </li>
    <li>
      <details>
        <summary>Competences</summary>
        <ul>
          <li>Java</li>
          <li>PostgreSQL</li>
          <li>Git</li>
          <li>Apache Maven</li>
          <li>JavaScript</li>
          <li>Hibernate</li>
          <li>Angular (Framework)</li>
          <li>JUnit</li>
        </ul>
      </details>
    </li>
  </ul>
</fieldset>
